.skill-with-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon-container > svg {
  height: 2.5em;
  width: 2.5em;
}

.skill-name {
  line-height: 1em;
}

.skill-proficiency {
  margin-top: -5px;
  font-size: 0.7em;
  font-style: italic;
}