.navbar {
  width: 100%;
  padding-top: 0.5em;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.theme-button-container {
  right: 0;
  top: 0;
  position: absolute;
}

.title {
  font-family: var(--heading);
  font-variant-caps: small-caps;
  text-align: center;
}

@media print {
  .theme-button-container {
    display: none !important;
  }
}
