.section {
  break-after: region;
}

.section-title {
  font-size: 1.3em;
  font-family: var(--heading);
  font-variant-caps: small-caps;
}

.section-divider {
  margin-top: 5px;
}

.content {
  margin-top: 10px;
  margin-bottom: 20px;
}