.content-container {
  display: flex;
  justify-content: center;
  margin: 40px 20px;
}

.content {
  max-width: 1200px;  
  width: 100%;
}

.content > * {
  margin-bottom: 20px;
}

.section-content {
  display: flex;
  margin-top: 5px;
  gap: 15px;
}

.section-content > .section-content-left {
  flex: 1;
}

.section-content > .section-content-right {
  display: flex;
  text-align: left;
}

.skills-content {
  display: flex;
  margin-top: 5px;
  gap: 15px;
}

.skills-content > .skills-left {
  min-width: 215px;
  display: flex;
  align-items: center;
}

.skills-content > .skills-right {
  flex: 1;
  display: grid;
  grid-template-rows: 50px;
  grid-auto-rows: 50px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
}

.sub-header {
  font-weight: bold;
  font-size: 1.1em;
}

.note {
  margin-top: -5px;
  font-size: 0.9em;
  font-style: italic;
}

.skills-content {
  display: flex;
  gap: 15px;
}

.section-content-description {
  font-size: 0.9em;
  line-height: 1.2em;
}

@media print, screen and (max-width: 1100px) {
  .skills-content {
    display: inline;
  }
}